[Desktop Entry]
Name=Sonda
Encoding=UTF-8
Exec=sonda
Icon=/usr/share/sonda/static/icons/sonda.png
StartupNotify=false
Terminal=true
Type=Application
Comment=System & Network Sensor, on steroids.
Path=/usr/bin/sonda
